!!! 5
html(lang='en')
  head
    title Static Site Ready!
    meta(charset='utf-8')
    link(rel='shortcut icon', href=asset('images/favicon.ico'), type='image/x-icon')
    link(rel='icon', href=asset('images/favicon.ico'), type='image/x-icon')
    link(rel='stylesheet', type='text/css', href=asset('stylesheets/style.css', '.min'))
    block stylesheets
    // if lt IE 9
      script(type='text/javascript', src=asset('scripts/respond.min.js'))
  body
    block content

    block scripts
      script(type='text/javascript', src=asset('scripts/bundle.js', '.min'))
